11-n8n-supabase-chatbot/workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -140
      ],
      "id": "1588cc84-ad0c-4e15-91ec-763b852ec2f3",
      "name": "When chat message received",
      "webhookId": "7d3f7aab-607f-4749-957e-61a5af46b260"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful personal assistant who helps to answer question from a company documents about marketing compaign."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -140
      ],
      "id": "c29c9402-c224-44d6-89ad-01dcc9b930d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        80
      ],
      "id": "1e395b58-1815-4ff2-a301-d82f74969f57",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ssQVGvbNNENMubgD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        100
      ],
      "id": "05b412e4-26d3-445b-a217-50b01c300925",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "XeyMlC1W3Jyc3EEA",
          "name": "n8n AI Agent"
        }
      }
    },
    {
      "parameters": {
        "description": "contains compant documents about the latest marketing compaigns"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        240,
        100
      ],
      "id": "d3befddc-5130-44d4-9f37-d2a003f0abc2",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        300
      ],
      "id": "1e45bf4c-e904-4350-b282-7327f005ddb9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ssQVGvbNNENMubgD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -40,
        300
      ],
      "id": "c48747d8-1028-488b-aa50-72ea1579b816",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mWqLIUygHNIckWPh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        500
      ],
      "id": "002dc7fa-c5d8-41dc-8ca0-d8193ed08b95",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ssQVGvbNNENMubgD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18z-BgpWqPRg-rBm10KFDpkJS1V8yFCre",
          "mode": "list",
          "cachedResultName": "Supabase Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18z-BgpWqPRg-rBm10KFDpkJS1V8yFCre"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        780
      ],
      "id": "17355871-7a08-4e84-8e30-0eb3c07c53e3",
      "name": "File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AMjPl9vYP9GDr9uR",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18z-BgpWqPRg-rBm10KFDpkJS1V8yFCre",
          "mode": "list",
          "cachedResultName": "Supabase Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18z-BgpWqPRg-rBm10KFDpkJS1V8yFCre"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        1060
      ],
      "id": "251ce430-1936-4788-9777-44ebd8ec648b",
      "name": "File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AMjPl9vYP9GDr9uR",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e469349b-5a00-4dd7-9728-8f570c610443",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        940
      ],
      "id": "c06c1ed8-d867-4a32-a1fd-67039a9f047e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        940
      ],
      "id": "0b75253c-5bbf-4b68-8434-32630ce9a2ce",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mWqLIUygHNIckWPh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        940
      ],
      "id": "269ec132-131c-451a-8199-1b22bf409140",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AMjPl9vYP9GDr9uR",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        940
      ],
      "id": "dfe4aca1-bab9-4dc4-93d0-f1be4137982a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        460,
        940
      ],
      "id": "10ca0742-c36c-42ce-a1eb-64ec90b73196",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "mWqLIUygHNIckWPh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        1220
      ],
      "id": "7b9525a9-d018-4039-940c-6d61ffe0d9ae",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ssQVGvbNNENMubgD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        580,
        1160
      ],
      "id": "6a915a16-0721-44d1-8a27-5a134e6420e7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        660,
        1380
      ],
      "id": "7dfe164c-4234-4dde-99fc-bee48cc8a8c7",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1eed183-282d-4869-88a7-b72d2c05a935",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec067015c6c523d9d43d691551203df755541158e5e061095d3116324327eef7"
  },
  "id": "Pt4Gda5EzDsZlzy9",
  "tags": []
}